- title("Add to #{@account.customer.name}'s Balance")

.row
  .columns.four= render 'form'

= link_to 'Show', [current_distributor, @account.customer]
\|
= link_to 'Back', distributor_customers_path(current_distributor)
