- title @account.customer.name

%h2== Balance: #{@account.balance}

= render :partial => 'distributor/transactions/index'

= link_to 'Edit', edit_distributor_account_path(current_distributor, @account)
\|
= link_to 'Back', distributor_accounts_path
