- unless @date_navigation.empty?
  .row-fluid
    #calendar-navigation.span12
      %ul{ style: calendar_nav_length(@date_navigation, @months) }
        - @months.each do |month, dates|
          %li.month= Date::ABBR_MONTHNAMES[month].upcase

          - dates.each do |date|
            %li{ id: count_selected(@date_navigation.first, date, params[:date]) }
              = link_to date_distributor_deliveries_path(date) do
                .date{ class: date_class(date) }= date.strftime("%d %a").upcase
                .count{ class: count_class(current_distributor, date) }= delivery_quantity(current_distributor, date)
