.row
  .twelve.columns
    %h3 Deliveries

.row
  %table.twelve.columns
    %thead
      %tr
        %th Order #
        %th Delivery #
        %th Status
        %th Route

    %tbody
      - @deliveries.each do |delivery|
        %tr
          %td= delivery.order.id
          %td= delivery.id
          %td= delivery.status
          %td= delivery.route.name
