-# Still gross but not the time to fix. Should be easier to do with just JS now though.

.label.state-label.staus-icon{ style: icon_display(status, 'unpacked'), class: 'status-unpacked', title: 'UNPACKED package' }
  %i.icon-time
.label.state-label.staus-icon{ style: icon_display(status, 'packed'), class: 'status-packed', title: 'Package has been PACKED' }
  %i.icon-ok-sign

.label.state-label.staus-icon{ style: icon_display(status, 'pending'), class: 'status-pending', title: 'PENDING delivery' }
  %i.icon-time
.label.state-label.staus-icon{ style: icon_display(status, 'delivered'), class: 'status-delivered', title: 'Delivery has been COMPLETED' }
  %i.icon-ok-sign
.label.state-label.staus-icon{ style: icon_display(status, 'cancelled'), class: 'status-cancelled', title: 'MISSED DELIVERY, customer has not been charged' }
  %i.icon-remove-sign
.label.state-label.staus-icon{ style: icon_display(status, 'rescheduled'), class: 'status-rescheduled', title: 'Missed delivery, REDELIVERED' }
  %i.icon-remove-sign
.label.state-label.staus-icon{ style: icon_display(status, 'repacked'), class: 'status-repacked', title: 'Missed delivery, NEW BOX scheduled' }
  %i.icon-remove-sign
