$section-info: #f1efe6
$section-border-color: #ddd
$section-padding: 10px
$section-spacing: 25px
$process-info: #c2c0c3

$btnProcessBackground: #ab8a81 !default
$btnProcessBackgroundHighlight: darken($btnProcessBackground, 10%) !default

=webstore-divider($top: true, $right: true, $bottom: true, $left: true)
  border-color: $grayLight
  border-style: dashed
  @if $top
    border-top-width: 1px
  @if $right
    border-right-width: 1px
  @if $bottom
    border-bottom-width: 1px
  @if $left
    border-left-width: 1px

.btn-process
  +buttonBackground($btnProcessBackground, $btnProcessBackgroundHighlight)

body
  background: $white url('webstore-background.png') repeat
  >.container-fluid
    background-color: $black
    margin-bottom: 2em

#bucky-box-controls
  a
    color: $white
    font-weight: bold

#public-banner
  color: $white

#content-information
  #information
    background-color: rgba(128, 128, 128, 0.3)
    padding: 1.5em 1em 1em 1em
    margin-bottom: $section-spacing
    img
      +rotate(-5deg)
    h3
      margin-top: 1em
    .text-box
      background-color: $white
      padding: 0.5em
      margin-bottom: 2em

.webstore-section
  +webstore-divider(true)
  padding-top: $section-spacing
  margin-top: $section-spacing
