//----- Sidebar

#content-information
  .customer-information-section
    margin-bottom: 28px
    .name
      font-size: 24px
    &:last-child
      margin-bottom: 0px

//----- Dashboard

.dash-boxed-link
  a
    display: block
    +webstore-divider('box')
    margin-top: 0px
    background-color: $secondary-background
    color: $gray
    text-align: center
    text-decoration: underline
    &:hover
      background-color: darken($secondary-background, 10%)
      color: $grayDark
      border-color: $grayDark

.customer-order
  +order-frame
  margin-bottom: 25px
  table.section-info
    width: 100%
    tbody
      tr.bottom-section
        td
          padding-top: 25px
      td
        vertical-align: top
        &.description
          padding-right: 25px
          .label
            padding-left: 8px
            padding-right: 8px
        &.thumb
          width: 120px
          img
            display: block
            margin: 0 auto
        &.total
          width: 14%
  table.sub-section-info
    margin-top: 3px
    width: 100%
    tr
      td
        padding: 4px 4px 0px 0px
        &.icon
          width: 16px
  .pausing
    a, span
      font-size: 12px
    .pause
      .form-selection
        input[type='submit']
          width: 55px
    .form-selection
      display: none
      overflow: hidden
      padding: 4px 6px 1px 5px
      margin-bottom: 2px
      +background-image(linear-gradient(#999999, #7B7B7B))
      +border-radius(0.3em)
      form
        float: left
        margin-bottom: 0px
        .control-group
          float: left
          margin-bottom: 0px
          select
            font-size: 11px
            height: 23px
            margin-right: 3px
      .remove-link
        display: none
      .remove-link, .cancel-link
        float: left
        padding: 2px
        a
          color: #ffffff
          display: block
          line-height: 18px
          margin-left: 5px
    .resulting-link
      display: none

#customer-transactions
  h3
    margin-top: 50px
  table
    background-color: $white
    thead
      th
        vertical-align: middle
    .date
      width: 12%
    .price
      width: 12%
    margin-bottom: 0
  +single-box-shadow(rgba(0, 0, 0, .25), 0px, 15px, 20px, -6px)
#more-transactions
  text-align: center

.remove-order-link
  position: absolute
  bottom: 0px
  right: 3px
  font-size: 12px

.span12.no-indent
  margin-left: 0

#bank_payment_details
  display: none
  border: 1px solid #ddd
  background: white
  >.row-fluid >.span12
    padding: 10px
  button.close
    position: relative
    right: 10px
    top: 10px
  +single-box-shadow(rgba(0, 0, 0, .25), 0px, 15px, 20px, -6px)

#make_a_payment a
  margin: 0

.payment-message
  .note
    margin: 1em
    color: #333
    font-style: italic

.dashboard-box
  margin-bottom: 10px
