#address-modal.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: 'modal'} } &times;
    %h3 Change Your Address
  = render partial: 'customer/customers/update_delivery_address', object: update_delivery_address

#details-modal.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: 'modal'} } &times;
    %h3 Change Your Contact Details
  = render partial: 'customer/customers/update_contact_details', object: update_contact_details

#password-modal.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: 'modal'} } &times;
    %h3 Change Your Password
  = render partial: 'customer/customers/update_password', object: update_password
