- title 'Invoices to send', false

= render :partial => 'distributor/shared/billing_sub_nav'

= render :partial => 'index', :locals => {:invoices => @invoices}

= link_to "Send Now", do_send_distributor_invoices_path, :class => "button nice", :method => :post
