%table#cron_log.table.table-striped
  %thead
    %tr
      %th Log
      %th Occurred At

  %tbody
    - @cron_logs.each do |cron_log|
      %tr
        %td
          .cron-details
            = cron_log.log
            = link_to_function('details', '', class: 'show-hide-details') if cron_log.details.present?
          .cron-log-details.hide= simple_format cron_log.details
        %td= cron_log.created_at.to_s(:pretty)

