.row
  %table.span12
    %thead
      %tr
        %th Log
        %th Occurred At

    %tbody
      - @cron_logs.each do |cron_log|
        %tr
          %td
            .row.cron-details
              .span10= simple_format cron_log.log
              .span2= link_to_function("details", "", class: "show-hide-details") if cron_log.details.present?
            .row
              .span12.cron-log-details.hide= simple_format cron_log.details
          %td= cron_log.created_at.to_s(:pretty)

