- title('Admin - Dashboard')

.row-fluid
  .span12
    %p Talk to a dev if you want to delete a distributor account

= render partial: 'admin/dashboard/nav'

- unless @distributors.empty?
  = render 'admin/dashboard/index'

- unless @cron_logs.empty?
  .row-fluid
    .span12
      = link_to 'Longer Cron Log', admin_cron_logs_path

  .row-fluid
    .span12
      = render 'admin/cron_logs/index'
