//----- Order form

#order-form
  #dislikes-input, #likes-input
    display: none
  div.select2-container.select2-container-multi
    width: 100%

  .order-days
    display: none
    td
      &:first-child
        +border-top-left-radius(4px)
        font-weight: bold
        vertical-align: middle
      text-align: center
      .checkbox
        margin-left: 42%
