.settings-forms
  margin: 2.5% 8% 2.5% 5%
  section
    header
      margin-bottom: 6%
  .form-horizontal
    .control-label
      width: 220px
    .controls
      margin-left: 240px
    .btn
      margin-bottom: 25px

//----- Organisation

#webstore-information
  .image-upload
    margin-bottom: 20px

//----- Stock List
#stock-list-controls
  margin-bottom: 1em

#stock-list-mass-edit
  background-color: $action-colour
  +border-radius(5px)
  margin-bottom: 1em
  padding: 1em 2em
  h3, textarea
    margin: 0px

#bulk-update
  .control-group
    margin: 0px
    input[type='text']
      width: 102%
      margin: 0px
  .remove
    margin-top: 2px
    padding: 0px
    font-size: 20px
    font-weight: bold
    line-height: 20px
    color: black
    text-shadow: 0 1px 0 white
    opacity: 0.2
    filter: alpha(opacity=20)
    cursor: pointer
    background: transparent
    border: 0px
    &:hover
      color: black
      text-decoration: none
      cursor: pointer
      opacity: 0.4
      filter: alpha(opacity=40)
  .label-warning
    display: none
    line-height: 28px
  .badge
    line-height: 28px

#customer_spend_limit
  .control-label
    width: 250px
  .controls
    margin-left: 290px

#distributor_spend_limit_on_all_customers
  margin-bottom: 6px

#organisation, #payments, #products
  textarea
    resize: vertical
  input:not(.btn):not(.boolean)
    height: 30px
  input:not(.btn), textarea, select
    +box-sizing(border-box)
    margin-bottom: 4px
    &.span6:last-child
      float: right

#organisation
  .address input
    +border-radius(4px)
    &:first-child:not(:only-child)
      +border-radius(4px 0 0 4px)
      &:not(:focus)
        border-right-color: transparent
    &:last-child:not(:only-child)
      +border-radius(0 4px 4px 0)
      &:not(:focus)
        border-left-color: transparent

  .country
    margin: 5px 9px
  .time_zone
    width: 50%

  #balance_threshold
    padding-left: 20px
    .input-append
      margin: 10px 0

#products
  table
    color: #000
    tr
      td
        padding: 0
        border: none
        vertical-align: middle
        border: none
        .photo img
          cursor: pointer
        &.text-right
          white-space: nowrap
      &:first-child
        padding: 4px 0
    form
      border-bottom: 1px solid #DDD
      margin: 0
      .container-fluid
        padding: 8px
        border-top: 1px dotted #DDD
      .line
        line-height: 38px
      .form-actions
        border: none
        padding: 0
        margin: 1em 0 0 0
        input
          margin-left: 1em

  > .boxes
    .edit
      border: none
      .photo
        border: 1px solid #999
        img
          width: 100%
        a
          position: absolute
          top: 55px
          left: 22px
          background: #FFF
          padding: .2em .4em
          border: 1px dotted #ccc
          +border-radius(1em)
          display: none
      .name
        width: 87%
      .amount
        width: 12%
      .field
        display: inline-block
      .extra-items
        padding-left: 3em
        margin-left: -2px

  > .extras
    .edit
      .name
        width: 69%
      .unit
        width: 18%
      .amount
        width: 12%
      .field
        display: inline-block
      form .form-actions
        margin: 0

#payments
  .preview
    p
      margin-top: 10px

.nav-tabs
  padding-top: 1em
  padding-bottom: 1em
  min-width: 10em
  min-height: 20em
  border-left: 0
  border-image: linear-gradient(#DDD, #FFF) 1 100%

