.settings-forms
  margin: 2.5% 8% 2.5% 5%
  section
    header
      margin-bottom: 6%
  .form-horizontal
    .control-label
      width: 220px
    .controls
      margin-left: 240px
    .btn
      margin-bottom: 25px

//----- Business Information

#webstore-information
  .image-upload
    margin-bottom: 20px

//----- Stock List
#stock-list-controls
  margin-bottom: 1em

#stock-list-mass-edit
  background-color: $action-colour
  +border-radius(5px)
  margin-bottom: 1em
  padding: 1em 2em
  h3, textarea
    margin: 0px

#bulk-update
  .control-group
    margin: 0px
    input[type='text']
      width: 102%
      margin: 0px
  .remove
    margin-top: 2px
    padding: 0px
    font-size: 20px
    font-weight: bold
    line-height: 20px
    color: black
    text-shadow: 0 1px 0 white
    opacity: 0.2
    filter: alpha(opacity=20)
    cursor: pointer
    background: transparent
    border: 0px
    &:hover
      color: black
      text-decoration: none
      cursor: pointer
      opacity: 0.4
      filter: alpha(opacity=40)
  .label-warning
    display: none
    line-height: 28px
  .badge
    line-height: 28px

#customer_spend_limit
  .control-label
    width: 250px
  .controls
    margin-left: 290px

#business_information_submit
  margin-right: 20px

#distributor_spend_limit_on_all_customers
  margin-bottom: 6px


#webstore-settings
  .column-right
    padding-left: 5px
  .column-left
    padding-right: 5px
    
  fieldset
    +border-radius(5px)
    background: #CDE7F6
    padding: 10px

    .header
      .title
        display: inline-block
        font-weight: bold
        font-size: 14px
        line-height: 30px
        height: 30px
        margin-left: 5px
        color: #08C

    .body
      margin-top: 5px
      .image-box
        position: relative
        height: 82px
        overflow: hidden
        .image-rollover
          position: absolute
          height: 82px
          width: 482px
          .image-message
            display: none
            padding: 6px 30px
            width: 100px
            margin: 18px auto
            text-align: center
            color: #08C
            font-size: 13px
            background: #FFF
            +border-radius(30px)
          &:hover
            .image-message
              display: block

      .banner
        padding: 10px 70px
        border: 1px solid #999999
        color: #999999
        background: #FFF
      .banner-description
        font-size: 14px
        strong
          display: block
        text-align: center

      .banner, .image-rollover
        cursor: pointer

      img.banner
        padding: 0
        height: 82px
        width: auto
    
    &.team_photo
      .body
        .image-box
          height: 282px
          .image-rollover
            height: 282px
          .image-message
            margin: 105px auto
        img.banner
          height: 282px

    textarea
      box-sizing: border-box 
      width: 100%
      margin-bottom: 0

  .blue-circle
    display: inline-block
    +border-radius(24px)
    padding: 2px
    background: #08C
    .blue-inner-circle
      +border-radius(28px)
      width: 20px
      height: 20px
      border: solid #FFF 2px
      background: #08C
      text-align: center
      line-height: 20px
      font-size: 16px
      color: white
      font-weight: bold

  .facebook_link, .phone
    input[type='text']
      width: 100%

  .phone
    .input-prepend
      margin-bottom: 0

  i.icon-face, i.icon-cellphone
    margin: 0
    background: 0 0 url(/assets/furl-icon.png)
    width: 16px
    height: 16px

  i.icon-cellphone
    background: 0 0 url(/assets/cellphone-icon.png)

  .image-overlay
    position: relative
    .overlay
      position: absolute
      left: 90px
      .blue-circle
        margin-top: 0px
      &.one
        top: 86px
      &.two
        top: 244px
      &.three
        top: 481px
      &.four
        top: 708px

#payments
  .nav
    li:first-child
      margin-top: 1em
    li:last-child
      margin-bottom: 20em
  textarea
    resize: vertical
  input:not(.btn), textarea
    +box-sizing(border-box)
    display: block
    width: 100%
    margin-bottom: 4px
  input:not(.btn)
    height: 30px
  .preview
    p
      margin-top: 10px

.important_action
  text-align: center
  background: #F9D9D9
  color: #993300
  border-radius: 5px
  padding: 2px
  margin: 6px 0 20px 0
  .control-group
    display: inline-block
    margin-bottom: 0
    padding: 3px
    .controls
      height: 20px
  &.complete
    background: #D4E4C4
    color: #525252
