//----- Stock List
#stock-list-controls
  margin-bottom: 1em

#stock-list-mass-edit
  background-color: $action-colour
  +border-radius(5px)
  margin-bottom: 1em
  padding: 1em 2em
  h3, textarea
    margin: 0px

#bulk-update
  .control-group
    margin: 0px
    input[type='text']
      width: 102%
      margin: 0px
  .remove
    margin-top: 2px
    padding: 0px
    font-size: 20px
    font-weight: bold
    line-height: 20px
    color: black
    text-shadow: 0 1px 0 white
    opacity: 0.2
    filter: alpha(opacity=20)
    cursor: pointer
    background: transparent
    border: 0px
    &:hover
      color: black
      text-decoration: none
      cursor: pointer
      opacity: 0.4
      filter: alpha(opacity=40)
  .label-warning
    display: none
    line-height: 28px
  .badge
    line-height: 28px
