#sortable_transactions
  .sort_header
    &.disabled
      cursor: pointer
      color: #C5C5C5
      i.icon-chevron-down
        visibility: hidden
      .span3
        display: none
    .span3 i.icon-chevron-down
      margin-left: 3px
      margin-top: 5px
    &.transaction_date
      i.icon-chevron-down
        margin-left: 0
    line-height: 1
  .smaller_titles
    font-size: 11px
