// Place all the styles related to the Distributor::Boxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form
  input[type="submit"]
    float: right
  #box_name, #box_description
    width: 100%

  #box_description
    height: 270px

  .image-thumbnail
    display: block
    width: 200px
    height: 150px



