// Place all the styles related to the Distributor::Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#noticeboard
  .alert-box
    margin-top: 5px

  .clear
    width: 100%
    clear: both
    visibility: hidden

  h2
    margin-top: 40px
  ul 
    border: 1px solid rgba(0,0,0,0.1)
    margin: 10px 0
    padding: 5px
    li 
      margin: 0 10px 0 0
      font-size: 1.2em
      display: inline-block
      &.notification_tag
        width: 50px
        padding: 3px 10px
        font-size: 0.9em
        color: white
        opacity: .6
        &.customer
          background: green
        &.billing
          background: red
        &.delivery
          background: blue
      &.notification_message
        width: 650px
      a.button
        font-size: 0.7em
