$cal-nav-base: rgb(240, 240, 240)
$cal-nav-head: darken($cal-nav-base, 30%)
$cal-nav-hover: darken($cal-nav-base, 35%)
$cal-nav-divider: darken($cal-nav-base, 40%)

#calendar-navigation
  width: 980px
  overflow-y: hidden
  overflow-x: scroll
  text-align: center

  ul
    margin-top: 5px

    li
      display: inline-block
      width: 55px
      margin-bottom: 0px
      font-weight: bold

      .month
        padding: 3px
        background-color: $cal-nav-divider
        color: #fff
      .hack-spacer
        padding: 3px
        background-color: #fff

      a
        .date
          padding: 3px
          background-color: $cal-nav-head
          color: #fff
        .count
          padding: 3px
          background-color: $cal-nav-base
          color: $cal-nav-head
        &:hover
          .date
            background-color: $cal-nav-hover
          .count
            color: $cal-nav-hover

#delivery-listings
  .route-name
    h6
      background-color: #fafafa
      margin-top: 5px
      padding: 6px 4px
      span
        display: inline-block
        width: 20px
        text-align: center
        background-color: #ffe8b6
        padding: 3px
        margin-right: 6px

  .summary
    strong
      display: block
      background-color: #f1f1f1
      margin: 25px 0 10px
      padding: 4px
    span
      display: inline-block
      width: 20px
      text-align: center
      background-color: #f1f1f1
      padding: 1px
      margin-right: 4px

  .flyout
    display: none
    top: 33px
    left: 195px
    width: auto
    select
      display: inline

  .data-listings
    background-color: #fafafa
    &.cancelled, &.rescheduled, &.repacked
      background-color: #f1f1f1
      text-decoration: line-through
    &.delivered
      background-color: #fef8e2
