// Place all the styles related to the Distributor::Payments controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

fieldset
  .options_bar
    padding: 5px
    a 
      margin: 0 30px
    > *
      float: right
    line-height: 35px
  .ajax_loader_gif
    margin: 0 auto 10px

.ajax_loader_gif
  background: url('/assets/ajax-loader.gif')
  width: 16px
  height: 16px
  margin: 0 auto

table.payments
  width: 100%
  thead
    th
      &.amount
        text-align: right
        span
          margin-right: 20px
  tbody
    tr
      &.row_action
        td
          text-align: center
        &.import_more_transactions
          background: #FDE49B
          td
            padding: 4px 10px
      &.row_description
        &:hover
          background: #ddd
        &.not_a_customer
          td
            color: #aaa
        td
          &.amount
            text-align: right
            span
              margin-right: 20px
          form
            margin: 0
      &.draft_import_transaction_list
        background: #FDE49B !important
    tr:nth-child(4n-2)
      background: #f3f3f3
    tr:nth-child(4n-4)
      background: #e9e9e9
    td.remove
      vertical-align: bottom
      text-align: right
    div.edit_row_match
      div.input.select, input[type=submit]
        display: inline-block
