= customer_title(current_customer, link: customer_root_path, title: "New Order for #{customer_and_number(current_customer)}")

= render partial: 'shared/orders/form'

= link_to 'Cancel', customer_root_path

