%ul.unstyled{ id: "order_#{order.id}_details" }
  %li= order_schedule(order)

  - if order.recurs?
    %li= render partial: 'distributor/orders/pausing', locals: { order: order }

  %li.order-next-deliveries
    %small= orders_next_deliveries(order)

