<p>Hi <%= @distributor.contact_name %>,</p>

<p>My name is Jordan, I'm an engineer at Bucky Box, and I'll be setting up your Bucky Box account to be able to reconcile transaction data from <%= @bank_name %>.</p>

<p>Once set up, you'll find reconciling your customer's bank deposit payments against what they purchased can be done with a single click. Our army of automated monkeys, so to speak :-), will do the heavy lifting of matching between your bank statement transactions and your customers.</p>

<p>Please follow the instructions below so we can set you up:</p>

<ol>
<li>Login to <%= @bank_name %>'s Internet Banking</li>

<li>Download some recent transactions in CSV format</li>

<li>Reply to this email and attach the CSV file</li>
</ol>

<p>Once we receive this, we'll be able to diagnose the format and setup <%= @bank_name %> into our system and you'll be ready to go in no time.</p>

<p>Cheers<br>
-Jordan</p>

