%p Hi #{@distributor.contact_name},

%p Bucky Box makes reconciling you customer's bank deposit payments against what they purchased drop dead easy. Our army of monkeys will do all the matching between your bank statement and your customers.

%p In order to work with <strong>#{@bank_name}</strong> please follow these instructions so we can set you up:
%ol
  %li Login to your Internet Banking
  %li Download a banking statement in CSV format
  %li Reply to this email and attach the CSV file

%p We'll get our engineers to set you up in no time.

%p
  Cheers
  %br
  The Team at Bucky Box

