:plain
  Hi #{@distributor.contact_name},

  Thanks for being a local food hero, and welcome to your new account with Bucky Box.

  Bucky Box has been designed to help you sell your products, manage your customers, fulfil your orders and reconcile payments. It's a turn key solution for local food enterprise.

  We've set you up with our starter account which gives you 30 customers free in your database, and gives you the space to get set up and running to see how easy it is to run your local food enterprise with Bucky Box.

  You can log in and create a password here:
    #{new_distributor_password_url}
    User: #{@distributor.email}

  Getting Started:
    - Get in touch - we'd love to give you a personal introduction to Bucky Box, just reply to this email to arrange a time. In the meantime you can take a video-guided tour...
    - Watch the Getting Started video: http://bit.ly/buckybox-setup-guide
    - Add some customers: http://bit.ly/buckybox-customers
    - Contact us through the green Feedback tab to confirm your Payment Types and we will set up your Webstore.

  Support Forum:
    - Look through support documents and videos here: http://bit.ly/buckybox-knowledgebase
    - Suggest Ideas or vote on existing ones here: http://bit.ly/buckybox-ideasforum

  Don't hesitate to drop me a line if you have any questions.

  Thanks for being part of a better food system,

  The Bucky Box Team

  Bucky Box: powering local food

  www.buckybox.com

