.row-fluid
  .span12.payment-message
    .row-fluid
      .span12
        = simple_format(form_object.distributor.name, {class: "paypal_distributor_email"}, sanitize: false)

        -# https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/formbasics/
        %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post"}
          %input{type: "hidden", name: "cmd", value: "_xclick"}
          %input{type: "hidden", name: "charset", value: "utf-8"}
          %input{type: "hidden", name: "currency_code", value: form_object.distributor.currency}
          %input{type: "hidden", name: "amount", value: form_object.amount_due}
          %input{type: "hidden", name: "email", value: form_object.customer_email}
          %input{type: "hidden", name: "business", value: form_object.distributor.email}
          %input{type: "hidden", name: "item_name", value: form_object.product_name}
          -# %input{type: "hidden", name: "item_number", value: "#{'webstore_order_id'}"}
          %input{type: "hidden", name: "quantity", value: 1}
          %input{type: "hidden", name: "return", value: customer_dashboard_url}
          %input{type: "image", name: "submit", border: "0", src: "https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif", alt: "PayPal - The safer, easier way to pay online"}

