.row-fluid
  #payment-options.span12.form-horizontal
    = payment.form.input :payment_method, as: :radio_buttons, collection: payment.options, required: false, label: 'Pay by:', label_html: {class: 'emphasised-label'}
