.row-fluid
  .form-horizontal.span6.center-row
    = f.input :payment_method, as: :radio_buttons, collection: payment_options.payment_list, checked: payment_options.payment_method, label: 'Pay by:', label_html: { class: 'emphasised-label' }
