.row-fluid
  #amount-due.span12
    .row-fluid.important
      - if customer_signed_in? && @closing_balance.positive?
        .span10 Your account is in credit
        .span2.text-right No payment necessary
      - else
        .span10 Total Amount Due
        .span2.text-right= @amount_due.format
= render partial: 'customer/dashboard/payment_details'
