= simple_form_for(:webstore_order, url: webstore_process_step_path) do |f|
  .row.webstore-section
    .ten.columns.offset-by-two
      = f.simple_fields_for(:route) do |g|
        #route.inputs
          .row
            .ten.columns
              .row
                .twelve.columns.important Pick A Delivery Service
              .row
                .twelve.columns= g.input :route, collection: @routes , label: 'Select the one that best services your location', include_blank: false

  .row
    .twelve.columns
      .actions= f.button :submit, 'Next', class: 'float-right'
