%h3 Recent Payments

- if @payments.blank?
  No manual payments have been entered yet
- else
  .row
    %table.twelve.columns
      %thead
        %tr
          %th Timestamp
          %th Customer
          %th Amount
          %th Description

      %tbody
        - @payments.each do |payment|
          %tr
            %td= payment.created_at.to_s(:timestamp)
            %td= customer_badge(payment.customer)
            %td= payment.amount.format
            %td= payment.description
