%h3 Recent Payment Uploads

- if @import_transaction_lists.blank?
  No payments have been uploaded yet
- else
  .row
    %table.twelve.columns
      %thead
        %tr
          %th Timestamp
          %th Status
          %th Account
          %th Rows

      %tbody
        - @import_transaction_lists.each do |i|
          %tr
            %td= link_to(i.created_at.to_s(:timestamp), distributor_payment_path(i))
            %td= i.draft? ? "Draft" : "Processed"
            %td= i.account
            %td= i.import_transactions.count
