.row
  .three.columns.offset-by-nine= link_to "Upload bank data", upload_transactions_distributor_payments_path, :class => 'button radius'

.row
  .twelve.columns
    = render 'distributor/payments/index'
