.row
  %table.twelve.columns#transactions
    %thead
      %tr
        %th Date
        %th Details
        %th Transaction

    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.display_time.to_s(:transaction)
          %td= transaction.description
          %td= transaction.amount.format
