.row
  %table.twelve.columns
    %thead
      %tr
        %th Amount
        %th Kind
        %th Description

    - @transactions.each do |transaction|
      %tbody
        %tr
          %td= transaction.amount
          %td= transaction.kind.titleize
          %td= transaction.description
