.row
  %table.twelve.columns
    %thead
      %tr
        %th Timestamp
        %th Amount
        %th Kind
        %th Description

    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= transaction.created_at.to_s(:db)
          %td= transaction.amount.format
          %td= transaction.kind.titleize
          %td= transaction.description
