%tr
  %td
    .row-fluid
      .span4
        %span.big.bold
          = link_to omni_importer.name, edit_admin_omni_importer_path(omni_importer)
      .span3
        
      .span1.align-right.medium.bold
      .span1.align-right.medium.bold 
      .span3.align-right.medium
    .row-fluid
      .span3.align-right.small
        = link_to 'Show', admin_omni_importer_path(omni_importer)
        |
        = link_to 'Edit', edit_admin_omni_importer_path(omni_importer)
