= render 'admin/omni_importers/nav'
= link_to "New", new_admin_omni_importer_path

%table.table.table-striped
  %tr
    %td Name
    %td Bank name
    %td Payment Type
    %td Tags
    %td Country
    %td File uploaded
  - @omni_importers.each do |omni_importer|
    = render partial: 'admin/omni_importers/index', locals: {omni_importer: omni_importer}
