development:
  adapter: postgresql
  encoding: unicode
  database: bucky_box_development
  pool: 5
  username: developer
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: bucky_box_test<%= ENV['TEST_ENV_NUMBER'] %>
  pool: 5
  username: <%= ENV.fetch("POSTGRES_USER", "root") %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD", "") %>
  host: <%= ENV.fetch("POSTGRES_HOST", "localhost") %>

production:
  adapter: postgresql
  encoding: unicode
  database: bucky_box_production
  pool: 5
  username: developer
  password:
