- title "Success! Welcome to Bucky Box!"

.row
  .six.columns.centered
    %p
      Thank you for taking the time to fill out your information. You can now view your customized dashboard where you can
      access all your information, make changes, and view your own webstore!

    %p
      If you would prefer to finish here and come back later, after you sign in you will be automatically taken to your dashboard.

    = form_tag distributor_dashboard_path, :method => :get do
      = hidden_field_tag :completed_wizard, true
      = submit_tag 'Take Me To My Dashboard!', :class => 'button nice'

