.row-fluid
  .span6
    = link_to_unless_current 'Dashboard', admin_root_path
    |
    = link_to_unless_current 'Distributors', admin_distributors_path
    |
    = link_to_unless_current 'Send update email', send_email_admin_distributors_path

