%ul.nav-pills
  = sub_tab 'Organisation',          distributor_settings_organisation_path,          { force_highlighted: force_highlighted }
  = sub_tab 'Delivery Services',     distributor_settings_delivery_services_path,     { force_highlighted: force_highlighted }
  = sub_tab 'Products',              distributor_settings_products_boxes_path,        { force_highlighted: force_highlighted }
  = sub_tab 'Payments',              distributor_settings_payments_bank_deposit_path, { force_highlighted: force_highlighted }
