- title 'Extras Catalog'
- show_settings_sub_nav
.row-fluid
  .span12
    Extras are additional sale items that can be included for delivery with a box.
%br
%br
.row-fluid
  = render partial: 'distributor/extras/form'

= render partial: 'distributor/extras/index'
