- title 'Extras Catalog'
- show_settings_sub_nav

= render partial: 'distributor/extras/index'

%h3 Add extra
.row-fluid
  .span12
    Extras are additional sale items that can be included for delivery with a box.
%br
.row-fluid
  = render partial: 'distributor/extras/form'
