- title("Payments", false)
- show_settings_sub_nav(:bank_info)

#payments.row-fluid
  %ul#sub-sub-nav
    %li
    %li{ class: "#{'selected' if type == 'bank_deposit'}" }= link_to "Bank Deposit", distributor_settings_payments_path(type: "bank_deposit")
    %li{ class: "#{'selected' if type == 'cash_on_delivery'}" }= link_to "Cash On Delivery", distributor_settings_payments_path(type: "cash_on_delivery")
    %li

  - case type
  - when "bank_deposit"
    = render partial: "distributor/settings/payments/bank_deposit", locals: { bank_deposit: bank_deposit }
  - when "cash_on_delivery"
    = render partial: "distributor/settings/payments/cash_on_delivery", locals: { cash_on_delivery: cash_on_delivery }

