- title("Payments", false)
- show_settings_sub_nav(:bank_info)

#payments.row-fluid
  %ul#sub-sub-nav
    %li
    %li.selected= link_to "Bank Deposit"
    %li= link_to "Cash On Delivery"

  = render partial: "distributor/settings/payments/bank_deposit", locals: { bank_deposit: bank_deposit }
  -# = render partial: "distributor/settings/payments/cash_on_delivery", locals: { cash_on_delivery: cash_on_delivery }

