- title 'Route Settings'
- show_settings_sub_nav

.row
  .four.columns
    %h3 Add Route
    = render partial: 'distributor/routes/form'

  .eight.columns
    = render partial: 'distributor/routes/index'
