- title 'Stock List'
- show_settings_sub_nav

.row
  .twelve.columns
    = link_to 'Edit', distributor_settings_stock_list_path(edit: true), class: 'button radius float-right'

.row.data-headings
  %h4.six.columns Item
  %h4.six.columns.text-right Customer Preferences

- if @edit_mode
  .row.data-listings
    .twelve.columns
      = render partial: 'distributor/line_items/form'

- @line_items.each do |line_item|
  .row.data-listings
    .six.columns= line_item.name
    .six.columns= line_item_use(line_item)
