- customer.dynamic_tags.each do |tag, label|
  = link_to tag_distributor_customers_path(tag), class: 'link-label' do
    %span.label.label-status{ class: "label-#{label}" }= tag

- tags = customer.tags.sort_by { |tag| tag.name.length }
.tag-links{data: {"toggle" => "tooltip", "placement" => "left", "title" => tags.join(' ') }}
  - tags.each do |tag|
    = link_to tag_distributor_customers_path(tag.name), class: 'link-label' do
      %span.label.label-info= tag.name

