:plain
  Here's your new login details for your account with us at #{@distributor.name}

  #{new_customer_session_url}

  Email: #{@customer.email}
  Password: #{@customer.password}

  Use this account to:

  * change your orders
  * pause your orders if you're away
  * change your delivery address or contact details if you've moved
