#intro-tour.modal.intro-tour-modal.hide.fade{ data: { 'show-tour' => "#{show_tour}", 'tour-type' => "#{tour_type}" } }
  .modal-body
    %button#close-intro-tour.close{ data: { dismiss: 'modal' }, type: 'button'} ×
    = image_tag intro_tour

