%ul.site-navigation
  %li= link_to image_tag('nav-customers.png'), distributor_customers_path
  %li= link_to image_tag('nav-deliveries.png'), distributor_deliveries_path
  %li= link_to image_tag('nav-payments.png'), distributor_payments_path if current_distributor.show_payments_tab?
