.row-fluid
  .span12
    = simple_form_for(:stock_list, url: distributor_line_items_path, html: { id: 'stock-list-mass-edit' }) do |f|
      = f.error_notification

      %h3 Add new items
      = f.input :names, as: :text, label: false, placeholder: @placeholder_text, input_html: { rows: 5, class: 'span12' }

      .text-right= f.button :submit, 'Add New Items', class: 'btn btn-primary'
