//= require_tree ./vendor

//------ Site wide colours

$note-colour: #FEF7DF
$action-colour: #FAE1A3
$action-colour-hover: darken($action-colour, 15%)
$archived-colour: #F0F0F0
$forcasting-colour: #D4E2C5
$error-colour: #F69585

$content-background: #FFFFFF
$content-border: #D3D3D3

$negative-colour: #D0381B

$badge-name: $grayLighter
$badge-id: darken($badge-name, 15%)
$badge-text: $black

//----- Site wide styles

small
  font-size: 90%

$highlight-focus: #fae1a3

textarea,
select,
a,
button,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="radio"],
input[type="checkbox"],
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
.uneditable-input,
.btn
  &:focus
    border-color: rgba($highlight-focus, 0.8)
    outline: 0
    outline: thin dotted \9 // IE6-9
    @include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($highlight-focus, 0.6)})

.btn
  text-transform: capitalize

input, textarea, select
  &.required
    background-color: #FEFAE4

fieldset > legend, .modal-header > span:not(.raw), .heading
  font-weight: bold
  font-size: 12px
  background: #DFDFCF
  color: #333
  padding: 2px 4px
  margin: .5em 0
  text-transform: uppercase
  width: inherit
  font-size: 12px
  line-height: 14px
  +border-radius(3px)
  +single-text-shadow(0px, 0px, 0px)
  &.red
    color: #FFF
    background-color: #C00

.alert
  font-weight: bold
  i
    margin-top: 4px

.modal
  outline: none
  overflow: visible

.modal-header
  background-color: #F5F5F5
  +border-radius(6px 6px 0 0)

.modal-footer
  background-color: #FFF

.modal-backdrop
  background-color: #EEE

.non-production-background
  background-image: image-url('not-production-background.png')

td, th
  &.text-right
    text-align: right
  &.text-center
    text-align: center
  &.text-bottom
    vertical-align: bottom

.important
  font-size: 150%
  line-height: 150%
  font-weight: bold

a.link-label:hover
  text-decoration: none

table.no-horizontal-dividers
  border: 1px solid $tableBorder
  th, td
    border-left-width: 0px

.balance, .amount
  text-align: right !important
  &.negative
    color: $negative-colour

.balance
  font-size: large
  font-weight: bold

.action
  display: block
  padding: 5px 0px
  text-align: center
  background-color: $action-colour
  +border-radius(0.4em)
  &:hover
    background-color: $action-colour-hover

.secondary-action
  font-size: 13px

.minor-action
  font-size: 12px

.label, .badge
  +single-text-shadow(0px, 0px, 0px)

.label
  font-weight: bold
  font-size: 12px
  color: #FFF
  text-transform: uppercase

[class="label"] // don't match "label-*"
  background: #DFDFCF
  color: #000

.badge
  text-transform: capitalize

.customer-badge
  max-width: 100%
  white-space: nowrap
  text-overflow: ellipsis
  display: inline-block
  color: #333
  background-color: #F0EBDE
  +border-radius(0.2em)
  .customer-id
    font-weight: bold
    display: inline-block
    color: #FFF
    background-color: #585652
    padding: 0 0.2em
    +border-radius(0.2em)
    &:hover
      text-decoration: none
  .customer-name
    font-weight: normal
    padding: 0 0.2em

.ajax-spinner
  background: image-url('ajax-loader.gif')
  width: 16px
  height: 16px
  margin: 0px auto

.preformatted
  font-family: monospace
  white-space: pre

.icon-pushpin
  background-image: image-url('icon-pushpin.png')
  background-position: 0

.settings-information
  margin-top: 40px
  margin-bottom: 50px
  .span6
    padding: 0 0 0 20px
  .span6:first-child
    padding: 0 20px 0 0

