// Place all the styles related to the Distributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-bar
  margin-bottom: 10px

.page-controls
  margin-bottom: 5px
  padding: 5px 0

  h3
    display: inline

  form
    margin: 0
    input.input-text
      display: inline
      width: 203px
      margin: 0

