// Place all the styles related to the Distributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server_warning
  border: 3px solid #000
  color: #000
  text-align: center
  font-weight: bold
  &#development
    background-color: #FF7F50
  &#staging
    background-color: #FFD700

#session-links
  position: absolute
  right: 0
  top: 0
  z-index: 2

.nav-bar
  margin-bottom: 10px

.page-controls
  margin-bottom: 5px
  padding: 5px 0

  h3
    display: inline

  form
    margin: 0
    input.input-text
      display: inline
      width: 203px
      margin: 0

.data-headings
  padding: 8px 0
  border-bottom: 1px solid #000

.data-listings
  padding: 8px 0
  border-bottom: 1px solid #aaa

span.label
  &:hover
    background-color: #2A85E8
  a
    color: #fff
