// Place all the styles related to the Distributors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#session-links
  position: absolute
  right: 0
  top: 0

.page-controls
  margin-bottom: 5px
  padding: 5px 0

  h3
    display: inline

  form
    margin: 0
    input.input-text
      display: inline
      width: 203px
      margin: 0

.data-headings
  padding: 8px 0
  border-bottom: 1px solid #000

.data-listings
  padding: 8px 0
  border-bottom: 1px solid #aaa

  .account-tags
    li
      display: inline-block
      background-color: #2A85E8
      padding: 1px 3px
      margin-right: 2px
      a
        color: #fff
