//----- Store

#store-items
  position: relative
  .box
    border: 1px solid #eee
    height: 500px
    .box-name
      padding: 5px
      margin-bottom: 8px
      background-color: #eee
    li
      margin: 0px 8px
    .box-description
      border-top: 1px solid #eee
      margin-top: 8px
      padding: 8px
  form
    margin-bottom: 0px
    position: relative
    bottom: 41px
    left: 8px

//----- Current Order

#current-order
  table
    border-width: 0px
    tbody tr:nth-child(even)
      background-color: inherit
    .important
      font-size: 120%
      font-weight: bold
    td:last-child
      padding-left: 50px

