//----- Common in ordering process
$light-devider: #eee

.webstore-section
  border-top: 1px solid $light-devider
  padding-top: 1em
  padding-bottom: 1em

.important
  font-size: 120%
  font-weight: bold

.webstore-step-button
  margin-top: 1em

//----- Store

#store-items
  position: relative
  .box
    border: 1px solid $light-devider
    height: 500px
    .box-name
      padding: 5px
      margin-bottom: 8px
      background-color: $light-devider
    li
      margin: 0px 8px
    .box-description
      border-top: 1px solid $light-devider
      margin-top: 8px
      padding: 8px
  form
    margin-bottom: 0px
    position: relative
    bottom: 41px
    left: 8px

//----- Customise

#webstore-customise
  #webstore-customisations
    .dislikes_input, .likes_input
      select
        width: 100%

#webstore-extras
  table
    margin-top: 1em
    border-width: 0px
    tbody
      tr
        &:last-child
          td
            padding-left: 0px
            padding-right: 0px
          select
            width: 100%
        &.extras-row
          display: none
          td
            padding: 0px 32px 0px 0px
            vertical-align: inherit
            &:last-child
              width: 50px
              padding-right: 0px
              input
                width: 50px
        &:nth-child(even)
          background-color: #fff

