- title(customer_and_number(current_customer), false)
= render partial: 'customer/customers/sidebar', locals: { customer: current_customer }

- if @distributor.active_webstore
  .row-fluid
    #new-customer-order.span12= link_to 'create new order from webstore', webstore_store_path(@distributor.parameter_name)

- unless @orders.empty?
  .row-fluid
    .span12= render 'customer/orders/index'

- unless @transactions.empty?
  .row-fluid
    .span12
      %h3 Account Statement
      = render 'customer/transactions/index'

