- title(customer_and_number(current_customer), false)
= render partial: 'customer/customers/sidebar', locals: { customer: current_customer }

- if @distributor.active_webstore
  .row-fluid
    #new-customer-order.span12= link_to 'create new order from webstore', webstore_store_path(@distributor.parameter_name)

- unless @orders.empty?
  = render partial: 'customer/orders/order', collection: @orders

- unless @transactions.empty?
  = render 'customer/transactions/index'

