- if Rails.env.development?
  .row
    .twelve.columns
      #development.server_warning DEVELOPMENT SERVER
- elsif Rails.env.staging?
  .row
    .twelve.columns
      #staging.server_warning STAGING SERVER
