- stylesheet 'admin'
- javascript 'admin'

- content_for :body do
  .container
    - if show_title?
      .row
        .span12
          %h1.text-center= yield(:title)

    .row
      .span12= yield

= render 'layouts/base'
