- stylesheet 'print', media: 'print'
- stylesheet 'print'
- javascript 'print'

- content_for :body do
  - if show_title?
    .row-fluid
      .span12.text-center
        %h1= yield(:title)

      = yield

  .row-fluid
    .span12
      Powered by 
      %strong Bucky Box

= render 'layouts/base'
